@font-face {
  font-family: "iconfont"; /* Project id 3127268 */
  src: url('iconfont.woff2?t=1656595771810') format('woff2'),
       url('iconfont.woff?t=1656595771810') format('woff'),
       url('iconfont.ttf?t=1656595771810') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-restore:before {
  content: "\e657";
}

.icon-back1:before {
  content: "\e612";
}

.icon-bxs-right-arrow:before {
  content: "\e6d5";
}

.icon-douyin:before {
  content: "\e8db";
}

.icon-kuaishou:before {
  content: "\e8dc";
}

.icon-dianpu:before {
  content: "\e736";
}

.icon-filter:before {
  content: "\e69e";
}

.icon-back:before {
  content: "\e609";
}

.icon-home:before {
  content: "\e6ee";
}

.icon-category:before {
  content: "\e622";
}

.icon-news:before {
  content: "\e617";
}

.icon-history:before {
  content: "\e654";
}

.icon-carousel:before {
  content: "\e62c";
}

.icon-overview:before {
  content: "\e697";
}

.icon-set:before {
  content: "\e660";
}

.icon-csr:before {
  content: "\e70f";
}

.icon-arrow-right:before {
  content: "\e665";
}

.icon-close:before {
  content: "\e67e";
}

.icon-weixin:before {
  content: "\e600";
}

.icon-weibo:before {
  content: "\e882";
}

.icon-search:before {
  content: "\e82e";
}

